@charset "UTF-8";
/* flex */
/* size */
/* 置中 */
/* 動畫效果 */
/* text */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
/* font */
/* radius */
/* image url */
/* ------- media query ------- */
.about-wrap {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #000;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-name {
  width: 100%;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: normal;
  color: #5263ff;
  padding-bottom: 20px;
}

.about-content {
  width: 100%;
}

.about-content p {
  font-size: 1rem;
  line-height: 2;
  text-align: justify;
  color: #000000;
}

@media (min-width: 768px) {
  .about-name {
    max-width: 20%;
    font-size: 1.5rem;
  }
  .about-content {
    max-width: 80%;
  }
  .about-content p {
    font-size: 1.125rem;
  }
}

@media (max-height: 420px) {
  .about-name {
    max-width: 100%;
    font-size: 1.375rem;
  }
  .about-content {
    max-width: 100%;
  }
  .about-content p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .about-name {
    max-width: 20%;
    font-size: 1.5rem;
  }
  .about-content {
    max-width: 80%;
  }
  .about-content p {
    font-size: 1.125rem;
  }
}

@media (min-width: 1400px) {
  .about-name {
    max-width: calc(100% - 1200px);
    font-size: 1.5rem;
  }
  .about-content {
    max-width: 1200px;
  }
  .about-content p {
    font-size: 1.25rem;
  }
}

.pic-box {
  margin: 20px 0;
}

.pic-box.full-img {
  max-width: 100%;
}

.pic-box.sm-img {
  max-width: 100%;
}

.pic-box.group-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pic-box.group-img figure {
  max-width: 100%;
  width: 100%;
  margin-top: 20px;
}

.pic-box.group-img figure:first-of-type {
  margin-top: 0;
}

.pic-box figure {
  width: 100%;
}

.pic-box figure img {
  width: 100%;
}

.pic-box figcaption {
  font-size: 1rem;
  color: #757575;
  padding-top: 6px;
  line-height: normal;
  width: 100%;
}

@media (min-width: 768px) {
  .pic-box.float-right-img {
    float: right;
    margin: 0 0 0 30px;
  }
  .pic-box.float-left-img {
    float: left;
    margin: 0 30px 0 0;
  }
  .pic-box.group-img figure {
    max-width: 100%;
    margin-top: 20px;
  }
  .pic-box.group-img figure:first-of-type {
    margin-top: 0;
  }
  .pic-box.group-img figure:nth-of-type(2) {
    margin-top: 20px;
  }
  .pic-box.group-img figure:nth-of-type(2n) {
    margin-left: 0px;
  }
  .pic-box figcaption {
    font-size: 1.125rem;
  }
}

@media (max-height: 420px) {
  .pic-box {
    margin: 20px 0;
  }
  .pic-box.float-right-img {
    float: right;
    margin: 0 0 0 15px;
  }
  .pic-box.float-left-img {
    float: left;
    margin: 0 15px 0 0;
  }
  .pic-box.sm-img {
    max-width: 160px;
  }
  .pic-box.group-img figure {
    margin-top: 10px;
    max-width: calc((100% - 10px) / 2);
  }
  .pic-box.group-img figure:first-of-type {
    margin-top: 0;
  }
  .pic-box.group-img figure:nth-of-type(2) {
    margin-top: 0;
  }
  .pic-box.group-img figure:nth-of-type(2n) {
    margin-left: 10px;
  }
}

@media (min-width: 992px) {
  .pic-box {
    margin: 40px 0;
  }
  .pic-box.float-right-img {
    margin: 0 0 0 40px;
  }
  .pic-box.float-left-img {
    margin: 0 40px 0 0;
  }
  .pic-box.sm-img {
    max-width: 200px;
  }
  .pic-box.group-img figure {
    max-width: calc((100% - 20px) / 2);
    margin-top: 20px;
  }
  .pic-box.group-img figure:first-of-type {
    margin-top: 0;
  }
  .pic-box.group-img figure:nth-of-type(2) {
    margin-top: 0;
  }
  .pic-box.group-img figure:nth-of-type(2n) {
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  .pic-box.group-img figure {
    max-width: calc((100% - 40px) / 2);
    margin-top: 40px;
  }
  .pic-box.group-img figure:nth-of-type(2) {
    margin-top: 0;
  }
  .pic-box.group-img figure:nth-of-type(2n) {
    margin-left: 40px;
  }
}

@media (min-width: 1400px) {
  .pic-box figcaption {
    font-size: 1.25rem;
  }
}

.paragraph {
  margin-bottom: 20px;
}

.about-sec {
  margin-bottom: 34px;
}

@media (min-width: 1200px) {
  .about-sec {
    margin-bottom: 60px;
  }
}

.ex-list {
  list-style: disc;
  padding-left: 20px;
}

.ex-list li {
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
}

@media (min-width: 768px) {
  .ex-list {
    padding-left: 30px;
  }
  .ex-list li {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .ex-list li {
    font-size: 1.25rem;
  }
}

.ex-link {
  display: block;
  font-size: 0;
  padding-left: 30px;
}

.ex-link span {
  display: inline-block;
  color: #5263ff;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.71;
}

.ex-link span img {
  width: 18px;
  margin-left: 6px;
}

@media (min-width: 768px) {
  .ex-link span {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .ex-link {
    padding-left: 30px;
  }
  .ex-link span {
    font-size: 1.25rem;
  }
  .ex-link span img {
    width: 18px;
    margin-left: 6px;
  }
}

.guide-list {
  list-style: disc;
  padding-left: 30px;
}

.guide-list li {
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .guide-list li {
    font-size: 1.125rem;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .guide-list {
    padding-left: 30px;
  }
  .guide-list li {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
}

.guide-links {
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guide-links .link-content {
  margin-right: 30px;
  margin-top: 20px;
}

.guide-links .btn-link {
  display: inline-block;
  border: solid 2px #5263ff;
  background-color: #5263ff;
  color: #ffffff;
  padding: 12px 16px;
  font-size: 1rem;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

.guide-links .sub-link {
  padding-top: 10px;
  padding-left: 18px;
}

.guide-links .sub-link a {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  color: #010101;
  padding: 6px 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

@media (min-width: 1200px) {
  .guide-links {
    padding-bottom: 40px;
  }
  .guide-links .link-content {
    margin-right: 50px;
    margin-top: 40px;
  }
  .guide-links .btn-link {
    color: #ffffff;
    padding: 12px 25px;
    font-size: 1.25rem;
  }
  .guide-links .btn-link:hover {
    background-color: #ffffff;
    color: #5263ff;
    text-decoration: none;
  }
  .guide-links .sub-link {
    padding-top: 10px;
    padding-left: 25px;
  }
  .guide-links .sub-link a {
    font-size: 1.25rem;
    padding: 6px 0;
  }
  .guide-links .sub-link a:hover {
    color: #5263ff;
  }
}

.research-wrap {
  position: relative;
  z-index: 0;
  padding-top: 18px;
}

.research-wrap .about-name {
  max-width: 100%;
  width: 100%;
}

.research-wrap .about-content {
  max-width: 100%;
  width: 100%;
}

@media (min-width: 992px) {
  .research-wrap .about-name {
    max-width: calc(100% - 644px);
  }
  .research-wrap .about-content {
    max-width: 644px;
  }
}

@media (min-width: 1200px) {
  .research-wrap .about-name {
    max-width: calc(100% - 900px);
  }
  .research-wrap .about-content {
    max-width: 900px;
  }
}

@media (min-width: 1500px) {
  .research-wrap .about-name {
    max-width: calc(100% - 1200px);
  }
  .research-wrap .about-content {
    max-width: 1200px;
  }
}

.sort-buttons {
  margin-top: 30px;
}

.sort-buttons .sort-btn {
  display: inline-block;
  padding: 3px 12px 7px;
  border: solid 2px #5263ff;
  background-color: #5263ff;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  margin: 5px 5px 5px 0;
}

.sort-buttons .sort-btn span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  line-height: normal;
  text-align: center;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

.sort-buttons .sort-name {
  color: #fff;
}

.sort-buttons .sort-count {
  color: #000000;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .sort-buttons {
    margin-top: 30px;
  }
  .sort-buttons .sort-btn span {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .sort-buttons .sort-btn {
    display: block;
    padding: 8px 24px;
    margin: 10px 0;
  }
}

@media (min-width: 1200px) {
  .sort-buttons {
    margin-top: 30px;
  }
  .sort-buttons .sort-btn span {
    font-size: 1.25rem;
  }
  .sort-buttons .sort-btn:hover {
    background-color: #ffffff;
  }
  .sort-buttons .sort-btn:hover .sort-name {
    color: #5263ff;
  }
  .sort-buttons .sort-btn:focus {
    background-color: #5263ff;
  }
  .sort-buttons .sort-btn:focus .sort-name {
    color: #ffffff;
  }
}

.sort-table-wrap {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
}

.sort-table-wrap .table-head p,
.sort-table-wrap .table-head span,
.sort-table-wrap .table-body p,
.sort-table-wrap .table-body span {
  font-size: 1rem;
  line-height: 1;
  color: #000000;
}

.sort-table-wrap .table-head .large-text,
.sort-table-wrap .table-body .large-text {
  font-size: 1rem;
}

.sort-table-wrap .cell-1 {
  width: 180px;
}

.sort-table-wrap .cell-2 {
  width: 110px;
}

.sort-table-wrap .cell-3 {
  width: 240px;
}

.sort-table-wrap .cell-4 {
  width: 100px;
}

.sort-table-wrap .cell-5 {
  width: 130px;
}

@media (min-width: 768px) {
  .sort-table-wrap .table-head .large-text,
  .sort-table-wrap .table-body .large-text {
    font-size: 1.125rem;
  }
  .sort-table-wrap .cell-1 {
    width: 180px;
  }
  .sort-table-wrap .cell-2 {
    width: 110px;
  }
  .sort-table-wrap .cell-3 {
    width: 240px;
  }
  .sort-table-wrap .cell-4 {
    width: 100px;
  }
  .sort-table-wrap .cell-5 {
    width: 130px;
  }
}

@media (min-width: 1200px) {
  .sort-table-wrap .table-head p,
  .sort-table-wrap .table-head span,
  .sort-table-wrap .table-body p,
  .sort-table-wrap .table-body span {
    font-size: 1.25rem;
  }
  .sort-table-wrap .table-head .large-text,
  .sort-table-wrap .table-body .large-text {
    font-size: 2rem;
  }
  .sort-table-wrap .cell-1 {
    width: 400px;
  }
  .sort-table-wrap .cell-2 {
    width: 170px;
  }
  .sort-table-wrap .cell-3 {
    width: 340px;
  }
  .sort-table-wrap .cell-4 {
    width: 130px;
  }
  .sort-table-wrap .cell-5 {
    width: 160px;
  }
}

.table-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.head-cell {
  padding-right: 20px;
  padding-bottom: 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.head-cell:last-of-type {
  padding-right: 0;
}

.head-cell.sort-up .arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.head-cell span {
  display: inline-block;
}

.head-cell .arrow {
  width: 15px;
}

.head-cell .arrow img {
  width: 100%;
}

@media (min-width: 1200px) {
  .head-cell {
    padding-right: 30px;
    padding-bottom: 18px;
  }
}

.table-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-row {
  display: block;
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

.body-row .body-cell {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.body-row .body-cell p {
  line-height: 1.71;
  font-weight: 300;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

@media (min-width: 1200px) {
  .body-row .body-cell {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 50px;
  }
  .body-row:hover {
    background-color: #5263ff;
  }
  .body-row:hover p {
    color: #ffffff;
  }
  .body-row:hover .more {
    color: #000000;
  }
}

.more {
  display: block;
  font-size: 1.125rem;
  line-height: 1.71;
  font-weight: 300;
  color: #5263ff;
  border: none;
  background: transparent;
  padding-left: 0;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

.search-data {
  position: absolute;
  top: -28px;
  left: 0;
  font-size: 1rem;
  line-height: normal;
  color: #757575;
}
/*# sourceMappingURL=aboutUs.css.map */