@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap");
/* font */
/* radius */
/* image url */
/* ------- media query ------- */
.about-wrap {
  position: relative;
  z-index: 0;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #000;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-name {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: normal;
  color: #5263ff;
  padding-bottom: 48px;
}

.about-content {
  width: 100%;
}

.about-content p {
  font-size: 1rem;
  line-height: 2;
  color: #000000;
}

.about-content .font-bold {
  font-weight: bold;
}

@media (min-width: 768px) {
  .about-name {
    max-width: 30%;
  }
  .about-content {
    max-width: 70%;
  }
  .about-content p {
    font-size: 1.125rem;
  }
}

@media (max-height: 420px) {
  .about-name {
    max-width: 100%;
  }
  .about-content {
    max-width: 100%;
  }
  .about-content p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .about-name {
    max-width: 30%;
  }
  .about-content {
    max-width: 70%;
  }
  .about-content p {
    font-size: 1.125rem;
  }
}

@media (min-width: 1400px) {
  .about-content p {
    font-size: 1.3125rem;
  }
}

.pic-box {
  display: inline-block;
  margin: 20px 0 35px;
}

.pic-box.full-img {
  max-width: 100%;
}

.pic-box.sm-img {
  max-width: 100%;
}

.pic-box.group-img {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pic-box.group-img img {
  max-width: 100%;
  width: 100%;
  margin-top: 20px;
}

.pic-box.group-img img:first-of-type {
  margin-top: 0;
}

.pic-box img {
  max-width: 100%;
  width: 100%;
}

.pic-box em {
  display: inline-block;
  font-size: 1rem;
  color: #757575;
  padding-top: 6px;
  line-height: normal;
  width: 100%;
}

@media (min-width: 768px) {
  .pic-box.float-right-img {
    float: right;
    margin: 0 0 20px 50px;
  }
  .pic-box.float-left-img {
    float: left;
    margin: 0 50px 20px 0;
  }
  .pic-box.sm-img {
    max-width: 160px;
  }
  .pic-box.group-img img {
    max-width: 100%;
    margin-top: 20px;
  }
  .pic-box.group-img img:first-of-type {
    margin-top: 0;
  }
  .pic-box.group-img img:nth-of-type(2) {
    margin-top: 20px;
  }
  .pic-box.group-img img:nth-of-type(2n) {
    margin-left: 0px;
  }
}

@media (max-height: 420px) {
  .pic-box.float-right-img {
    float: right;
    margin: 0 0 0 50px;
  }
  .pic-box.float-left-img {
    float: left;
    margin: 0 50px 0 0;
  }
  .pic-box.sm-img {
    max-width: 160px;
  }
  .pic-box.group-img img {
    margin-top: 40px;
    max-width: calc((100% - 40px) / 2);
  }
  .pic-box.group-img img:first-of-type {
    margin-top: 0;
  }
  .pic-box.group-img img:nth-of-type(2) {
    margin-top: 0;
  }
  .pic-box.group-img img:nth-of-type(2n) {
    margin-left: 40px;
  }
}

@media (min-width: 992px) {
  .pic-box.float-right-img {
    margin: 0 0 0 40px;
  }
  .pic-box.float-left-img {
    margin: 0 40px 0 0;
  }
  .pic-box.sm-img {
    max-width: 200px;
  }
  .pic-box.group-img img {
    max-width: calc((100% - 20px) / 2);
    margin-top: 20px;
  }
  .pic-box.group-img img:first-of-type {
    margin-top: 0;
  }
  .pic-box.group-img img:nth-of-type(2) {
    margin-top: 0;
  }
  .pic-box.group-img img:nth-of-type(2n) {
    margin-left: 20px;
  }
  .pic-box em {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .pic-box.float-right-img {
    margin: 0 0 20px 70px;
  }
  .pic-box.float-left-img {
    margin: 0 70px 20px 0;
  }
  .pic-box.sm-img {
    max-width: 375px;
  }
  .pic-box.group-img {
    margin: 70px 0;
  }
  .pic-box.group-img img {
    max-width: calc((100% - 40px) / 2);
    margin-top: 40px;
  }
  .pic-box.group-img img:nth-of-type(2) {
    margin-top: 0;
  }
  .pic-box.group-img img:nth-of-type(2n) {
    margin-left: 40px;
  }
  .pic-box em {
    font-size: 1.3125rem;
  }
}

.about-sec {
  margin-bottom: 34px;
}

.about-sec:last-of-type {
  margin-bottom: 45px;
}

.about-sec .font-bold {
  font-weight: bold;
  margin-bottom: 15px;
}

.about-sec p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.88;
}

@media (min-width: 992px) {
  .about-sec p {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .about-sec {
    margin-bottom: 60px;
  }
  .about-sec p {
    font-size: 1.3125rem;
  }
}

.ex-list {
  list-style: disc;
  padding-left: 20px;
}

.ex-list li {
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
}

@media (min-width: 768px) {
  .ex-list {
    padding-left: 30px;
  }
  .ex-list li {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .ex-list li {
    font-size: 1.3125rem;
  }
}

.ex-link {
  display: block;
  font-size: 0;
  padding-left: 30px;
}

.ex-link span {
  display: inline-block;
  color: #5263ff;
  vertical-align: middle;
  font-size: 1rem;
  line-height: normal;
}

.ex-link span:first-of-type {
  border-bottom: 1px solid #5263ff;
}

.ex-link span img {
  width: 18px;
  margin-left: 6px;
}

@media (min-width: 768px) {
  .ex-link span {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .ex-link {
    padding-left: 30px;
  }
  .ex-link span {
    font-size: 1.3125rem;
  }
  .ex-link span img {
    width: 18px;
    margin-left: 6px;
  }
}

.guide-list {
  list-style: disc;
  padding-left: 30px;
}

.guide-list li {
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .guide-list li {
    font-size: 1.125rem;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .guide-list {
    padding-left: 30px;
  }
  .guide-list li {
    font-size: 1.3125rem;
    margin-bottom: 30px;
  }
}

.guide-links {
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guide-links .link-content {
  margin-right: 30px;
  margin-top: 20px;
}

.guide-links .btn-link {
  display: inline-block;
  border: solid 2px #5263ff;
  background-color: #5263ff;
  color: #ffffff;
  padding: 12px 16px;
  font-size: 1rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.guide-links .btn-link:active {
  background-color: #ffffff;
  color: #5263ff;
  text-decoration: none;
}

.guide-links .sub-link {
  padding-top: 10px;
  padding-left: 18px;
}

.guide-links .sub-link a {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  color: #010101;
  padding: 6px 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 1200px) {
  .guide-links {
    padding-bottom: 45px;
  }
  .guide-links .link-content {
    margin-right: 50px;
    margin-top: 40px;
  }
  .guide-links .btn-link {
    color: #ffffff;
    padding: 12px 25px;
    font-size: 1.3125rem;
  }
  .guide-links .btn-link:hover {
    background-color: #ffffff;
    color: #5263ff;
    text-decoration: none;
  }
  .guide-links .sub-link {
    padding-top: 10px;
    padding-left: 25px;
  }
  .guide-links .sub-link a {
    font-size: 1.3125rem;
    padding: 6px 0;
  }
  .guide-links .sub-link a:hover {
    color: #5263ff;
  }
}

.research-wrap {
  position: relative;
  z-index: 0;
  padding-top: 18px;
}

@media (min-width: 768px) {
  .research-wrap .about-name {
    max-width: 100%;
  }
  .research-wrap .about-content {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .research-wrap .about-name {
    max-width: 30%;
  }
  .research-wrap .about-content {
    max-width: 70%;
  }
}

.sort-buttons {
  margin-top: 50px;
}

.sort-buttons .sort-btn {
  display: inline-block;
  padding: 3px 12px 7px;
  border: solid 2px #5263ff;
  background-color: #5263ff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 5px 5px 5px 0;
}

.sort-buttons .sort-btn span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  line-height: normal;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.sort-buttons .sort-btn:active {
  background-color: #ffffff;
}

.sort-buttons .sort-btn:active .sort-name {
  color: #5263ff;
}

.sort-buttons .sort-name {
  color: #fff;
}

.sort-buttons .sort-count {
  color: #000000;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .sort-buttons .sort-btn span {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .sort-buttons .sort-btn {
    display: block;
    padding: 8px 24px;
    margin: 10px 0;
  }
}

@media (min-width: 1200px) {
  .sort-buttons {
    margin-top: 43px;
  }
  .sort-buttons .sort-btn span {
    font-size: 1.3125rem;
  }
  .sort-buttons .sort-btn:hover {
    background-color: #ffffff;
  }
  .sort-buttons .sort-btn:hover .sort-name {
    color: #5263ff;
  }
  .sort-buttons .sort-btn:focus {
    background-color: #5263ff;
  }
  .sort-buttons .sort-btn:focus .sort-name {
    color: #ffffff;
  }
  .sort-buttons .sort-btn:focus:hover {
    background-color: #ffffff;
  }
  .sort-buttons .sort-btn:focus:hover .sort-name {
    color: #5263ff;
  }
}

.opening-wrap {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #000;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opening-name {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: normal;
  color: #5263ff;
  padding-bottom: 50px;
}

.opening-content {
  width: 100%;
}

.opening-content p {
  font-size: 1rem;
  color: #000000;
  font-weight: 300;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .opening-name {
    max-width: 30%;
  }
  .opening-content {
    max-width: 70%;
  }
}

@media (max-height: 420px) {
  .opening-name {
    max-width: 100%;
  }
  .opening-content {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .opening-name {
    max-width: 30%;
  }
  .opening-content {
    max-width: 70%;
  }
}

@media (min-width: 1400px) {
  .opening-content p {
    font-size: 1.125rem;
  }
}

.opening-large-text {
  font-weight: 500;
  font-size: 1rem;
  color: #000000;
  line-height: 1.7;
}

.opening-lists {
  list-style: simp-chinese-informal;
  padding-left: 30px;
}

.opening-lists > li {
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  line-height: 1.7;
  margin-bottom: 30px;
}

.opening-lists > li.opening-large-text {
  font-weight: 500;
}

.opening-lists .open-sub-list li {
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  line-height: 1.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 1200px) {
  .opening-lists {
    padding-left: 30px;
  }
  .opening-lists > li {
    font-size: 1.125rem;
    margin-bottom: 30px;
  }
  .opening-lists .open-sub-list li {
    font-size: 1.125rem;
  }
}

.date-info {
  margin-top: 50px;
  margin-bottom: 45px;
}

.date-info p {
  font-size: 1rem;
  color: #808080;
  font-weight: 300;
}

.table-hover tbody tr {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.table-hover tbody tr p {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.table-hover tbody tr:hover {
  background-color: #5263ff;
}

.table-hover tbody tr:hover .large-text {
  text-decoration: underline;
}

.table-hover tbody tr:hover p,
.table-hover tbody tr:hover figcaption {
  color: #ffffff;
}

.table-hover tbody tr:hover .more {
  color: #000000;
}

.sort-table-wrap .table {
  width: 760px;
}

.sort-table-wrap .table thead th {
  border-top: none;
  border-bottom: none;
}

.sort-table-wrap .table thead th.sort-up .arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sort-table-wrap .table thead th span {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
}

.sort-table-wrap .table thead th span:first-of-type {
  width: calc(100% - 20px);
}

.sort-table-wrap .table thead th .arrow {
  width: 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.sort-table-wrap .table thead th .arrow img {
  width: 100%;
}

.sort-table-wrap .table th,
.sort-table-wrap .table td {
  border-top: 1px solid #bababa;
}

.sort-table-wrap .table tbody {
  border-bottom: 1px solid #bababa;
}

.sort-table-wrap p,
.sort-table-wrap span {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.71;
  color: #000000;
}

.sort-table-wrap .large-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
}

.sort-table-wrap .cell-1 {
  width: 180px;
}

.sort-table-wrap .cell-2 {
  width: 110px;
}

.sort-table-wrap .cell-3 {
  width: 240px;
}

.sort-table-wrap .cell-4 {
  width: 100px;
}

.sort-table-wrap .cell-5 {
  width: 130px;
}

@media (min-width: 768px) {
  .sort-table-wrap .table {
    width: 760px;
  }
  .sort-table-wrap .large-text {
    font-size: 1.125rem;
  }
  .sort-table-wrap .cell-1 {
    width: 180px;
  }
  .sort-table-wrap .cell-2 {
    width: 110px;
  }
  .sort-table-wrap .cell-3 {
    width: 230px;
  }
  .sort-table-wrap .cell-4 {
    width: 120px;
  }
  .sort-table-wrap .cell-5 {
    width: 120px;
  }
}

@media (min-width: 1200px) {
  .sort-table-wrap .table {
    width: 1190px;
  }
  .sort-table-wrap p,
  .sort-table-wrap span {
    font-size: 1.3125rem;
  }
  .sort-table-wrap .large-text {
    font-size: 2rem;
  }
  .sort-table-wrap .cell-1 {
    width: 400px;
  }
  .sort-table-wrap .cell-2 {
    width: 170px;
  }
  .sort-table-wrap .cell-3 {
    width: 330px;
  }
  .sort-table-wrap .cell-4 {
    width: 150px;
  }
  .sort-table-wrap .cell-5 {
    width: 150px;
  }
}

.art-work-table-wrap {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
}

.art-work-table-wrap .table {
  width: 634px;
}

.art-work-table-wrap .table thead th {
  border-top: none;
  border-bottom: none;
  padding: 0 5px 15px;
}

.art-work-table-wrap .table thead th.sort-up .arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.art-work-table-wrap .table thead th span {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
}

.art-work-table-wrap .table thead th span:first-of-type {
  width: calc(100% - 20px);
}

.art-work-table-wrap .table thead th .arrow {
  width: 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.art-work-table-wrap .table thead th .arrow img {
  width: 100%;
}

.art-work-table-wrap .table th,
.art-work-table-wrap .table td {
  padding: 25px 5px;
  border-top: 1px solid #bababa;
}

.art-work-table-wrap .table tbody {
  border-bottom: 1px solid #bababa;
}

.art-work-table-wrap .table tbody tr:first-of-type th,
.art-work-table-wrap .table tbody tr:first-of-type td {
  border-top: 1px solid #000000;
}

.art-work-table-wrap .figure-box {
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.art-work-table-wrap .figure-box p {
  line-height: normal;
  font-weight: 300;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.art-work-table-wrap .figure-box .work-pic {
  width: 160px;
}

.art-work-table-wrap .figure-box .work-pic img {
  width: 100%;
}

.art-work-table-wrap figcaption {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  color: #000000;
}

.art-work-table-wrap p,
.art-work-table-wrap span {
  font-size: 1rem;
  color: #000000;
  line-height: normal;
  font-weight: 300;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.art-work-table-wrap .large-text {
  font-size: 1rem;
}

.art-work-table-wrap .cell-0 {
  width: 180px;
}

.art-work-table-wrap .cell-1 {
  width: 160px;
}

.art-work-table-wrap .cell-2 {
  width: 66px;
}

.art-work-table-wrap .cell-3 {
  width: 136px;
}

.art-work-table-wrap .cell-4 {
  width: 92px;
}

@media (min-width: 768px) {
  .art-work-table-wrap .table {
    width: 700px;
  }
  .art-work-table-wrap .figure-box .work-pic {
    width: 160px;
  }
  .art-work-table-wrap figcaption {
    font-size: 1.125rem;
  }
  .art-work-table-wrap .large-text {
    font-size: 1.125rem;
  }
  .art-work-table-wrap .cell-0 {
    width: 216px;
  }
  .art-work-table-wrap .cell-1 {
    width: 190px;
  }
  .art-work-table-wrap .cell-2 {
    width: 70px;
  }
  .art-work-table-wrap .cell-3 {
    width: 144px;
  }
  .art-work-table-wrap .cell-4 {
    width: 80px;
  }
}

@media (max-height: 420px) {
  .art-work-table-wrap .table {
    width: 752px;
  }
  .art-work-table-wrap .cell-0 {
    width: 200px;
  }
  .art-work-table-wrap .cell-1 {
    width: 200px;
  }
  .art-work-table-wrap .cell-2 {
    width: 82px;
  }
  .art-work-table-wrap .cell-3 {
    width: 160px;
  }
  .art-work-table-wrap .cell-4 {
    width: 110px;
  }
}

@media (min-width: 1200px) {
  .art-work-table-wrap .table {
    width: 1190px;
  }
  .art-work-table-wrap .figure-box {
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .art-work-table-wrap .figure-box .work-pic {
    width: 300px;
  }
  .art-work-table-wrap figcaption {
    font-size: 2rem;
  }
  .art-work-table-wrap p,
  .art-work-table-wrap span {
    font-size: 1.3125rem;
  }
  .art-work-table-wrap .large-text {
    font-size: 2rem;
  }
  .art-work-table-wrap .cell-0 {
    width: 350px;
  }
  .art-work-table-wrap .cell-1 {
    width: 330px;
  }
  .art-work-table-wrap .cell-2 {
    width: 100px;
  }
  .art-work-table-wrap .cell-3 {
    width: 230px;
  }
  .art-work-table-wrap .cell-4 {
    width: 185px;
  }
}

@media (min-width: 1500px) {
  .art-work-table-wrap .figure-box .work-pic {
    width: 300px;
  }
  .art-work-table-wrap figcaption {
    font-size: 2rem;
  }
}

.full-wrap.about-wrap {
  padding-top: 20px;
}

.full-wrap.about-wrap .about-name {
  max-width: 100%;
}

.full-wrap.about-wrap .about-content {
  max-width: 100%;
}

.full-wrap.about-wrap .about-content .pages-navgation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

@media (min-width: 1200px) {
  .full-wrap.about-wrap .about-name {
    padding-bottom: 110px;
  }
}

.pics-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ex-pic-box {
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
}

.ex-pic-box img {
  width: 100%;
}

@media (min-width: 768px) {
  .ex-pic-box {
    max-width: calc((100% - 112px) / 3);
    margin-right: 56px;
  }
  .ex-pic-box:nth-of-type(2n) {
    margin-right: 56px;
  }
  .ex-pic-box:nth-of-type(3n) {
    margin-right: 0px;
  }
}

@media (max-height: 420px) {
  .ex-pic-box {
    max-width: calc((100% - 79px) / 2);
    margin-right: 79px;
  }
  .ex-pic-box:nth-of-type(3n) {
    margin-right: 79px;
  }
  .ex-pic-box:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .ex-pic-box {
    max-width: calc((100% - 168px) / 4);
    margin-right: 56px;
  }
  .ex-pic-box:nth-of-type(2n) {
    margin-right: 56px;
  }
  .ex-pic-box:nth-of-type(3n) {
    margin-right: 56px;
  }
  .ex-pic-box:nth-of-type(4n) {
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .ex-pic-box {
    margin-bottom: 50px;
    max-width: calc((100% - 300px) / 4);
    margin-right: 100px;
  }
  .ex-pic-box:nth-of-type(2n) {
    margin-right: 100px;
  }
  .ex-pic-box:nth-of-type(3n) {
    margin-right: 100px;
  }
  .ex-pic-box:nth-of-type(4n) {
    margin-right: 0px;
  }
}
/*# sourceMappingURL=aboutUs.css.map */