@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap");
/* font */
/* radius */
/* image url */
/* ------- media query ------- */
.tag {
  position: absolute;
  left: 0;
  top: -36px;
  z-index: 0;
  padding: 4px 12px 7px;
  background-color: #ff6000;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .tag {
    top: -50px;
    padding: 5px 12px 8px;
    font-size: 2.25rem;
  }
}

.apply-wrap {
  position: relative;
  z-index: 0;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #000;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.apply-content {
  width: 100%;
}

.apply-content p {
  font-size: 1rem;
  line-height: 1.71;
  text-align: justify;
  color: #000000;
  font-weight: 300;
  word-wrap: break-word;
}

.apply-content p + p {
  margin-top: 20px;
}

.apply-content section {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #bababa;
}

.apply-content section:first-of-type {
  padding-top: 0;
}

.apply-content.second-content {
  padding-bottom: 45px;
}

.apply-content .text-subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: normal;
  color: #757575;
  margin-bottom: 28px;
}

.apply-pic {
  max-width: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 25px;
}

.apply-pic.pic-top {
  margin-top: 50px;
}

.apply-pic figure {
  width: 100%;
}

.apply-pic figure img {
  width: 100%;
}

.apply-name {
  margin-bottom: 10px;
}

.apply-name h2 {
  font-size: 1.875rem;
  font-weight: bold;
  line-height: normal;
  color: #5263ff;
}

.apply-name h3 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: normal;
  color: #5263ff;
}

.apply-name h4 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: normal;
  margin: 10px 0 5px;
  color: #8a8a8a;
}

@media (min-width: 768px) {
  .apply-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .apply-content {
    max-width: 100%;
  }
  .apply-pic {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .apply-name {
    margin-bottom: 40px;
  }
  .apply-name h2 {
    font-size: 2.25rem;
  }
  .apply-name h3 {
    font-size: 1.5rem;
  }
  .apply-name h4 {
    font-size: 1.125rem;
  }
}

@media (max-height: 420px) {
  .apply-content {
    max-width: 100%;
  }
  .apply-pic {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .apply-name {
    margin-bottom: 30px;
  }
  .apply-name h2 {
    font-size: 1.875rem;
  }
  .apply-name h3 {
    font-size: 1.125rem;
  }
  .apply-name h4 {
    font-size: 1.125rem;
  }
}

@media (min-width: 992px) {
  .apply-content {
    max-width: calc(50% - 25px);
  }
  .apply-pic {
    margin-top: 50px;
    margin-bottom: 45px;
  }
  .apply-pic.pic-top {
    margin-top: 100px;
  }
  .apply-name {
    margin-bottom: 30px;
  }
  .apply-name h2 {
    font-size: 2.25rem;
  }
  .apply-name h3 {
    font-size: 1.5rem;
  }
  .apply-name h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .apply-content .text-subtitle {
    font-size: 1.625rem;
    margin-bottom: 25px;
  }
}

@media (min-width: 1400px) {
  .apply-content {
    max-width: calc(50% - 50px);
  }
  .apply-content p {
    font-size: 1.3125rem;
  }
  .apply-name h2 {
    font-size: 3.938rem;
  }
  .apply-name h3 {
    font-size: 2.688rem;
  }
  .apply-name h4 {
    font-size: 1.5rem;
  }
}

.content-title {
  max-width: 100%;
  width: 100%;
  font-size: 1.3125rem;
  font-weight: 500;
  line-height: 1.71;
  color: #000000;
}

.content-detail {
  max-width: 100%;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.71;
  text-align: justify;
  color: #000000;
  font-weight: 300;
}

@media (min-width: 768px) {
  .content-title {
    max-width: 30%;
  }
  .content-detail {
    max-width: 70%;
  }
}

@media (max-height: 420px) {
  .content-title {
    max-width: 100%;
  }
  .content-detail {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .content-title {
    max-width: 30%;
    font-size: 1.3125rem;
  }
  .content-detail {
    max-width: 70%;
    font-size: 1.125rem;
  }
}

.index-links {
  padding-top: 8px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.index-links .link-content {
  margin-right: 10px;
  margin-top: 10px;
}

.index-links .btn-link {
  display: inline-block;
  border: solid 2px #5263ff;
  background-color: #5263ff;
  color: #ffffff;
  padding: 12px 16px;
  font-size: 1rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.index-links .btn-link:active {
  background-color: #ffffff;
  color: #5263ff;
  text-decoration: none;
}

.index-links .sub-link {
  padding-top: 10px;
  padding-left: 18px;
}

.index-links .sub-link a {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  color: #010101;
  padding: 6px 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 1200px) {
  .index-links {
    padding-bottom: 45px;
  }
  .index-links .btn-link {
    color: #ffffff;
    padding: 12px 25px;
    font-size: 1.3125rem;
  }
  .index-links .btn-link:hover {
    background-color: #ffffff;
    color: #5263ff;
    text-decoration: none;
  }
  .index-links .sub-link {
    padding-top: 10px;
    padding-left: 25px;
  }
  .index-links .sub-link a {
    font-size: 1.3125rem;
    padding: 6px 0;
  }
  .index-links .sub-link a:hover {
    color: #5263ff;
  }
}

.links-row {
  padding: 25px 0;
  border-bottom: 1px solid #bababa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-weight: 500;
}

.links-row.row-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-row.links-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-row.links-group .ex-link {
  margin: 6px 0;
}

.links-row.links-group .ex-link span {
  color: #000000;
  line-height: normal;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.links-row.links-group .ex-link.dis-no {
  display: none;
}

.links-row p {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  color: #000000;
}

.links-row .link-title {
  max-width: 45%;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
  color: #8a8a8a;
}

.links-row .link-title.link-sub-title {
  font-size: 1rem;
  color: #000000;
}

.links-row .link-title.full-title {
  max-width: 100%;
}

.links-row .link-description {
  max-width: 55%;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  color: #000000;
}

.links-row .large-text {
  font-size: 1rem;
}

.links-row .ex-link {
  display: block;
  font-size: 0;
}

.links-row .ex-link span {
  display: inline;
  color: #5263ff;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 24px;
  text-decoration: underline;
}

.links-row .ex-link span img {
  display: inline;
  width: 18px;
  margin-left: 6px;
  margin-top: 6px;
}

.links-row .more {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .links-row p {
    font-size: 1.125rem;
  }
  .links-row .link-title {
    max-width: 35%;
    font-size: 1.5rem;
  }
  .links-row .link-title.link-sub-title {
    font-size: 1.125rem;
  }
  .links-row .link-description {
    max-width: 65%;
    font-size: 1.125rem;
  }
  .links-row .large-text {
    font-size: 1.125rem;
  }
  .links-row .ex-link span {
    font-size: 1.125rem;
    line-height: normal;
    font-weight: 500;
  }
  .links-row .more {
    font-size: 1.125rem;
  }
}

@media (min-width: 992px) {
  .links-row.row-start {
    padding: 0 0 24px;
  }
}

@media (min-width: 1200px) {
  .links-row.links-group .ex-link span {
    color: #000000;
    line-height: normal;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .links-row.links-group .ex-link:hover span {
    color: #5263ff;
  }
  .links-row p {
    font-size: 1.3125rem;
  }
  .links-row .link-title {
    font-size: 1.625rem;
  }
  .links-row .link-title.link-sub-title {
    font-size: 1.3125rem;
  }
  .links-row .link-description {
    font-size: 1.3125rem;
  }
  .links-row .large-text {
    font-size: 1.3125rem;
  }
  .links-row .ex-link span {
    display: inline-block;
    font-size: 1.3125rem;
    line-height: normal;
  }
  .links-row .more {
    font-size: 1.3125rem;
  }
}

.des-sub-lists .sub-lists-row {
  border-bottom: 1px solid #bababa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-weight: 500;
  padding: 0 0 25px 0;
}

.des-sub-lists .sub-lists-row + .sub-lists-row {
  padding: 25px 0 0 0;
  border-bottom: none;
}

.des-sub-lists .sub-lists-title {
  max-width: 90px;
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
  color: #8a8a8a;
}

.des-sub-lists .sub-lists-title.link-sub-title {
  font-size: 1rem;
  color: #000000;
}

.des-sub-lists .sub-lists-description {
  max-width: calc(100% - 90px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.des-sub-lists .sub-lists-description span {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  color: #000000;
}

.des-sub-lists .icon-book {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 37px;
  background-image: url("../images/icon-book@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
}

.des-sub-lists .icon-book:hover {
  background-image: url("../images/icon-book-hover@2x.png");
}

@media (min-width: 768px) {
  .des-sub-lists .sub-lists-title {
    font-size: 1.5rem;
  }
  .des-sub-lists .sub-lists-title.link-sub-title {
    font-size: 1.125rem;
  }
  .des-sub-lists .sub-lists-description span {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  .des-sub-lists .sub-lists-title {
    font-size: 1.625rem;
  }
  .des-sub-lists .sub-lists-title.link-sub-title {
    font-size: 1.3125rem;
  }
  .des-sub-lists .sub-lists-description span {
    font-size: 1.3125rem;
  }
}
/*# sourceMappingURL=apply.css.map */