@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

elements-of-type(html5-block) {
  display: block;
}

img {
  display: block;
  border: none;
}
/* font */
/* radius */
/* image url */
/* ------- media query ------- */
/* font */
/* radius */
/* image url */
/* ------- media query ------- */
a:focus {
  outline: 2px dotted #000;
}

.acc {
  color: #000000;
  font-size: 0.775rem;
  display: none;
  height: 16px;
}

@media (min-width: 1200px) {
  .acc {
    display: inline-block;
  }
  .acc:hover {
    color: #000000;
  }
}

.main-content .acc {
  position: absolute;
  top: -33px;
  left: 30px;
}

.main-content.main-idx .acc {
  top: -28px;
}

footer .acc {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
}

html {
  -webkit-text-size-adjust: 100%;
}

html *,
html *:before,
html *:after {
  font-size: 16px;
  font-family: "Noto Sans TC", "PingFangTC-Regular", "sans-serif", "微軟正黑體", "Microsoft JhengHei";
}

html.active,
body.active {
  overflow: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.font-bold {
  font-weight: bold;
}

.mt-20 {
  margin-top: 20px;
}

.full-content {
  max-width: 100%;
  width: 100%;
}

.borderTop {
  border-top: 1px solid #000;
}

.ellipsis p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.header {
  position: relative;
  background: #ffffff url("../images/kv-inner-banner-m@2x.png") right bottom no-repeat;
  padding-bottom: 282px;
  background-size: 100% 100%;
}

@media (min-width: 768px) {
  .header {
    background: #ffffff url("../images/kv-inner-banner-pad@2x.png") right top no-repeat;
    padding-bottom: 262px;
    background-size: 100% 100%;
  }
}

@media (max-height: 420px) {
  .header {
    background: #ffffff url("../images/kv-inner-banner-m-l@2x.png") center top no-repeat;
    padding-bottom: 216px;
    background-size: 100% 100%;
  }
}

@media (min-width: 992px) {
  .header {
    background: #ffffff url("../images/kv-inner-banner-pad-p@2x.png") right top no-repeat;
    padding-bottom: 352px;
    background-size: 100% 100%;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-bottom: 522px;
    background-size: 100% 100%;
  }
}

.header-top {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 768px) {
  .header-top {
    top: 50px;
  }
}

@media (max-height: 420px) {
  .header-top {
    top: 41px;
  }
}

@media (min-width: 992px) {
  .header-top {
    top: 40px;
  }
}

@media (min-width: 1200px) {
  .header-top {
    top: 80px;
  }
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.logo-box .logo {
  max-width: 27px;
  width: 100%;
  display: inline-block;
}

.logo-box .logo img {
  width: 100%;
}

@media (min-width: 768px) {
  .logo-box .logo {
    max-width: 28px;
  }
}

@media (min-width: 992px) {
  .logo-box .logo {
    max-width: 32px;
  }
}

@media (min-width: 1200px) {
  .logo-box .logo {
    max-width: 52px;
    margin-left: 10px;
  }
}

.search-guide {
  position: absolute;
  right: 75px;
  top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 992px) {
  .search-guide {
    position: static;
  }
}

@media (min-width: 1200px) {
  .search-guide {
    padding-right: 80px;
  }
}

.search-box {
  position: relative;
  z-index: 0;
  width: 40px;
  height: 40px;
  border: solid 1px #000000;
  border-radius: 50px;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  margin-right: 0px;
  cursor: pointer;
}

.search-box input {
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  display: none;
  outline: none;
}

.search-box .search-icon {
  position: absolute;
  z-index: 0;
  top: 9px;
  right: 9px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.search-box.onFocus {
  width: 200px;
  border-radius: 25px;
}

.search-box.onFocus input {
  padding: 0 44px 0 20px;
  border-radius: 25px;
  display: block;
}

@media (min-width: 992px) {
  .search-box {
    margin-right: 25px;
  }
  .search-box input {
    border-radius: 50px;
  }
}

@media (min-width: 1200px) {
  .search-box {
    width: 50px;
    height: 50px;
  }
  .search-box .search-icon {
    top: 12px;
    right: 12px;
    width: 25px;
    height: 25px;
  }
  .search-box.onFocus {
    width: 250px;
  }
  .search-box:hover, .search-box:valid {
    width: 250px;
    border-radius: 25px;
  }
  .search-box:hover input, .search-box:valid input {
    padding: 0 44px 0 20px;
    border-radius: 25px;
    display: block;
  }
}

.btn-guide {
  display: none;
  border: solid 1px #000000;
  border-radius: 25px;
  width: 126px;
  padding: 10px 6px;
  text-align: center;
  color: #000000;
  font-size: 1.125rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 992px) {
  .btn-guide {
    display: block;
    border-radius: 25px;
    width: 126px;
  }
}

@media (min-width: 1200px) {
  .btn-guide {
    padding: 14px 6px;
  }
  .btn-guide:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

.meun-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
  display: inline-block;
  margin-left: 20px;
  max-width: 25px;
  width: 100%;
}

.meun-btn span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 9px 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 768px) {
  .meun-btn {
    top: 40px;
  }
}

@media (max-height: 420px) {
  .meun-btn {
    top: 32px;
  }
}

@media (min-width: 992px) {
  .meun-btn {
    display: none;
  }
}

.header-title {
  position: absolute;
  top: 215px;
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 30px;
}

.header-title .logo {
  max-width: 257px;
  width: 100%;
}

.header-title .logo img {
  width: 100%;
}

@media (min-width: 768px) {
  .header-title {
    top: 190px;
  }
  .header-title .logo {
    max-width: 278px;
  }
}

@media (max-height: 420px) {
  .header-title {
    top: 150px;
  }
  .header-title .logo {
    max-width: 257px;
  }
}

@media (min-width: 992px) {
  .header-title {
    top: 160px;
  }
  .header-title .logo {
    max-width: 265px;
  }
}

@media (min-width: 1200px) {
  .header-title {
    top: 300px;
  }
  .header-title .logo {
    max-width: 497px;
  }
}

.place-name {
  padding: 5px;
  font-size: 1.125rem;
  color: #000000;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  border: solid 1px #000000;
  margin-right: 7px;
}

@media (min-width: 992px) {
  .place-name {
    padding: 7px;
    font-size: 1.625rem;
    margin-right: 9px;
  }
}

@media (min-width: 1200px) {
  .place-name {
    padding: 12px;
    font-size: 2.8125rem;
    margin-right: 16px;
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  max-width: 160px;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 992px) {
  nav {
    position: absolute;
    top: unset;
    bottom: 0px;
    right: 0;
    z-index: 0;
    max-width: 100%;
    height: auto;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    background: transparent;
  }
}

@media (min-width: 1200px) {
  nav {
    bottom: 0;
  }
}

.meun-list {
  width: 100%;
  height: calc(100vh - 110px);
  overflow-y: auto;
  padding: 0px 10px 10px;
  margin-top: 110px;
}

.meun-list li {
  width: 100%;
  text-align: center;
}

.meun-list li a {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.18px;
  color: #000000;
  padding: 12px;
  line-height: normal;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #828282;
}

.meun-list li:nth-of-type(2) {
  margin-top: 30px;
}

.meun-list li:nth-of-type(2) a {
  border-top: 1px solid #828282;
}

.meun-list li.on a {
  color: #5263ff;
}

.meun-list li.on .btn-guide {
  background-color: #000000;
  color: #ffffff;
}

.meun-list .btn-guide {
  display: inline-block;
  font-size: 1rem;
  padding: 2px 12px;
}

@media (min-width: 992px) {
  .meun-list {
    height: auto;
    overflow-y: unset;
    padding: 0 30px;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .meun-list li {
    width: auto;
  }
  .meun-list li a {
    font-size: 1.5rem;
    padding: 0 24px;
    border-right: 1px solid #828282;
    border-bottom: none;
  }
  .meun-list li:nth-of-type(2) {
    margin-top: 0px;
  }
  .meun-list li:nth-of-type(2) a {
    border-left: 1px solid #828282;
    border-top: none;
  }
  .meun-list .btn-guide {
    display: none;
  }
}

@media (min-width: 1200px) {
  .meun-list {
    padding: 0px 110px 0 30px;
  }
  .meun-list li a {
    font-size: 2.25rem;
    padding: 0 44px;
  }
  .meun-list li:hover a {
    color: #5263ff;
  }
}

.active .meun-btn {
  position: fixed;
}

.active .meun-btn span:first-of-type {
  -webkit-transform: rotate(45deg) translate(6px, 8px);
      -ms-transform: rotate(45deg) translate(6px, 8px);
          transform: rotate(45deg) translate(6px, 8px);
}

.active .meun-btn span:nth-of-type(2) {
  opacity: 0;
}

.active .meun-btn span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(6px, -8px);
      -ms-transform: rotate(-45deg) translate(6px, -8px);
          transform: rotate(-45deg) translate(6px, -8px);
}

.active nav {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

footer {
  position: relative;
  z-index: 0;
  padding: 30px;
  border-top: 1px solid #828282;
}

footer.footer-intro {
  border-top: none;
}

@media (min-width: 992px) {
  footer.footer-intro .footer-content {
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  footer {
    padding: 30px 30px 45px;
  }
  footer.footer-intro {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  footer.footer-intro .footer-content {
    padding: 0 20px;
  }
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .footer-content {
    padding: 0 80px;
  }
}

.footer-text {
  font-size: 1rem;
  color: #808080;
}

.footer-text a {
  display: block;
  color: inherit;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 1200px) {
  .footer-text a:hover {
    color: #5263ff;
  }
}

.footer-logo-group {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-logo-group figure {
  width: 100%;
}

.footer-logo-group figure img {
  width: 100%;
}

.footer-logo-group .tpi-logo {
  max-width: 45px;
  margin-right: 25px;
}

.footer-logo-group .aa-logo {
  max-width: 84px;
}

@media (min-width: 576px) {
  .footer-logo-group {
    padding-top: 0;
  }
}

.main-content {
  position: relative;
  z-index: 0;
  padding: 95px 30px 30px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-content {
    padding-top: 100px;
  }
}

@media (max-height: 420px) {
  .main-content {
    padding-top: 70px;
  }
}

@media (min-width: 992px) {
  .main-content {
    padding-top: 80px;
  }
}

@media (min-width: 1200px) {
  .main-content {
    padding-top: 100px;
  }
}

.more {
  display: block;
  font-size: 1rem;
  line-height: 1.71;
  font-weight: 300;
  color: #5263ff;
  border: none;
  background: transparent;
  padding-left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 1200px) {
  .more {
    font-size: 1.3125rem;
  }
}

.pages-navgation {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.pages-navgation .arrow {
  display: inline-block;
  padding: 11px 9px;
}

.pages-navgation .arrow img {
  width: 26px;
}

.pages-navgation .arrow-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pages-navgation ul {
  padding: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.pages-navgation ul li {
  position: relative;
  margin: 0 3px;
}

.pages-navgation ul li.active a {
  color: #ffffff;
}

.pages-navgation ul li.active a::before {
  content: "";
}

.pages-navgation ul li a {
  color: #5263ff;
  width: 40px;
  text-align: center;
  padding: 15px 0;
  display: inline-block;
  font-size: 1.3125rem;
}

.pages-navgation ul li a::before {
  content: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #5263ff;
  z-index: -1;
}

@media (min-width: 1200px) {
  .pages-navgation ul {
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .pages-navgation ul li {
    margin: 0 5px;
  }
  .pages-navgation ul li a {
    width: 50px;
    padding: 15px 0;
    font-size: 1.3125rem;
  }
  .pages-navgation ul li a::before {
    width: 50px;
    height: 50px;
  }
  .pages-navgation ul li:hover a {
    color: #ffffff;
  }
  .pages-navgation ul li:hover a::before {
    content: "";
  }
  .pages-navgation ul li a {
    font-size: 1.3125rem;
  }
}

.double-lists {
  list-style: none;
  margin-top: 40px;
}

.double-lists li {
  display: inline-block;
  padding: 5px 0;
}

.double-lists li.active > a {
  background-color: #ffffff;
}

.double-lists li.active > a span {
  color: #5263ff;
}

.double-lists li.active > a .list-arrow figure {
  background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
  background-size: contain;
}

.double-lists li.open > ul {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.double-lists li.open > .third-lists {
  position: static;
}

.double-lists li a {
  display: inline-block;
  padding: 7px 15px 15px;
  border: solid 2px #5263ff;
  background-color: #5263ff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.double-lists li a span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.125rem;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.double-lists .list-name {
  margin-right: 10px;
}

.double-lists .list-arrow {
  width: 15px;
  margin-left: 10px;
  margin-top: 3px;
}

.double-lists .list-arrow figure {
  width: 100%;
  height: 9px;
  background: url("./../images/arrow-dropdown.png") center no-repeat;
  background-size: contain;
}

.double-lists .sub-lists {
  position: absolute;
  z-index: -1;
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.double-lists .sub-lists li {
  display: block;
}

.double-lists .sub-lists a {
  display: inline-block;
  padding: 7px 15px 15px;
  border: solid 2px #5263ff;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.double-lists .sub-lists a span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.125rem;
  line-height: 1;
  text-align: left;
  color: #5263ff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 992px) {
  .double-lists li a {
    padding: 7px 24px 15px;
    background-color: #5263ff;
  }
  .double-lists li a span {
    font-size: 1.125rem;
    color: #fff;
  }
  .double-lists li.active > a {
    background-color: #ffffff;
  }
  .double-lists li.active > a span {
    color: #5263ff;
  }
  .double-lists li.active > a .list-arrow figure {
    background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
    background-size: contain;
  }
  .double-lists li.open > ul {
    z-index: 1;
  }
  .double-lists > li:hover > a {
    background-color: #ffffff;
  }
  .double-lists > li:hover > a span {
    color: #5263ff;
  }
  .double-lists > li:hover > a .list-arrow figure {
    background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
    background-size: contain;
  }
  .double-lists .list-arrow figure {
    background: url("./../images/arrow-dropdown.png") center no-repeat;
    background-size: contain;
  }
  .double-lists .sub-lists li:hover > a {
    background-color: #5263ff;
  }
  .double-lists .sub-lists li:hover > a span {
    color: #ffffff;
  }
  .double-lists .sub-lists li:hover > a .list-arrow figure {
    background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
    background-size: contain;
  }
  .double-lists .sub-lists li a {
    background-color: #ffffff;
  }
  .double-lists .sub-lists li a span {
    font-size: 1.125rem;
    color: #5263ff;
  }
}

.triple-lists {
  list-style: none;
  margin-top: 40px;
}

.triple-lists li {
  display: inline-block;
  padding: 5px 0;
}

.triple-lists li.active > a {
  background-color: #ffffff;
}

.triple-lists li.active > a span {
  color: #5263ff;
}

.triple-lists li.active > a .list-arrow figure {
  background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
  background-size: contain;
}

.triple-lists li.open > ul {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.triple-lists li.open > .third-lists {
  position: static;
}

.triple-lists li a {
  display: inline-block;
  padding: 7px 15px 15px;
  border: solid 2px #5263ff;
  background-color: #5263ff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 300;
}

.triple-lists li a span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.125rem;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.triple-lists .list-name {
  margin-right: 10px;
}

.triple-lists .list-count {
  color: #000000;
}

.triple-lists .list-arrow {
  width: 15px;
  margin-left: 10px;
  margin-top: 3px;
}

.triple-lists .list-arrow figure {
  width: 100%;
  height: 9px;
  background: url("./../images/arrow-dropdown.png") center no-repeat;
  background-size: contain;
}

.triple-lists .sub-lists {
  position: absolute;
  padding-left: 30px;
  z-index: -1;
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.triple-lists .sub-lists li {
  display: block;
}

.triple-lists .sub-lists li a {
  padding: 7px 15px 15px;
  background-color: #ffffff;
}

.triple-lists .sub-lists li a span {
  color: #5263ff;
}

.triple-lists .sub-lists li .list-arrow figure {
  background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
  background-size: contain;
}

.triple-lists .sub-lists li.active > a {
  background-color: #5263ff;
}

.triple-lists .sub-lists li.active > a span {
  color: #ffffff;
}

.triple-lists .sub-lists li.active > a .list-arrow figure {
  background: url("./../images/arrow-dropdown.png") center no-repeat;
  background-size: contain;
}

.triple-lists .third-lists {
  position: absolute;
  padding-left: 30px;
  z-index: -1;
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.triple-lists .third-lists li {
  display: block;
}

.triple-lists .third-lists li a {
  padding: 7px 10px 15px;
  background-color: #ffffff;
}

.triple-lists .third-lists li a span {
  color: #5263ff;
}

.triple-lists .third-lists li .list-arrow figure {
  background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
}

.triple-lists .third-lists li.active > a {
  background-color: #5263ff;
}

.triple-lists .third-lists li.active > a span {
  color: #ffffff;
}

.triple-lists .third-lists li.active > a .list-arrow figure {
  background: url("./../images/arrow-dropdown.png") center no-repeat;
  background-size: contain;
}

@media (min-width: 992px) {
  .triple-lists li {
    display: block;
  }
  .triple-lists li a {
    padding: 7px 24px 15px;
    background-color: #5263ff;
  }
  .triple-lists li a span {
    font-size: 1.125rem;
    color: #fff;
  }
  .triple-lists li.active > a {
    background-color: #ffffff;
  }
  .triple-lists li.active > a span {
    color: #5263ff;
  }
  .triple-lists li.active > a .list-arrow figure {
    background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
    background-size: contain;
  }
  .triple-lists li.open > ul {
    position: static;
    z-index: -1;
  }
  .triple-lists > li:hover > a {
    background-color: #ffffff;
  }
  .triple-lists > li:hover > a span {
    color: #5263ff;
  }
  .triple-lists > li:hover > a .list-arrow figure {
    background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
    background-size: contain;
  }
  .triple-lists .list-arrow figure {
    background: url("./../images/arrow-dropdown.png") center no-repeat;
    background-size: contain;
  }
  .triple-lists .sub-lists li:hover > a {
    background-color: #5263ff;
  }
  .triple-lists .sub-lists li:hover > a span {
    color: #ffffff;
  }
  .triple-lists .sub-lists li:hover > a .list-arrow figure {
    background: url("./../images/arrow-dropdown.png") center no-repeat;
    background-size: contain;
  }
  .triple-lists .sub-lists li a {
    background-color: #ffffff;
  }
  .triple-lists .sub-lists li a span {
    font-size: 1.125rem;
    color: #5263ff;
  }
  .triple-lists .sub-lists li .list-arrow figure {
    background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
    background-size: contain;
  }
  .triple-lists .third-lists li:hover > a {
    background-color: #5263ff;
  }
  .triple-lists .third-lists li:hover > a span {
    color: #ffffff;
  }
  .triple-lists .third-lists li:hover > a .list-arrow figure {
    background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
    background-size: contain;
  }
  .triple-lists .third-lists li a {
    background-color: #ffffff;
  }
  .triple-lists .third-lists li a span {
    font-size: 1.125rem;
    color: #5263ff;
  }
  .triple-lists .third-lists li .list-arrow figure {
    background: url("./../images/arrow-dropdown-hover.png") center no-repeat;
    background-size: contain;
  }
}

@media (min-width: 1200px) {
  .triple-lists li a span {
    font-size: 1.3125rem;
  }
  .triple-lists .sub-lists li a span {
    font-size: 1.3125rem;
  }
  .triple-lists .third-lists li a span {
    font-size: 1.3125rem;
  }
}

.search-data {
  position: absolute;
  top: -28px;
  left: 0;
  font-size: 1rem;
  line-height: normal;
  color: #757575;
}

.hr {
  margin: 4px 0;
}

.pdf-button {
  max-width: 46px;
  width: 100%;
  display: block;
  margin-top: 50px;
}

.pdf-button img {
  width: 100%;
}

@media (min-width: 992px) {
  .pdf-button {
    margin-top: 100px;
  }
}

.modal-backdrop.show {
  opacity: 0.75;
}

.modal-xxl {
  max-width: 1500px;
}

.modal-content {
  background-color: transparent;
}

.modal-title {
  font-size: 2.25rem;
  font-weight: 300;
  color: #ffffff;
}

.modal-header {
  border-bottom: none;
}

.modal-header .close span {
  max-width: 70px;
  width: 100%;
  display: inline-block;
}

.modal-header .close span img {
  width: 100%;
}

.carousel-inner .carousel-item .inner-cover {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.carousel-inner .carousel-item .pdf-box {
  width: 100%;
  position: relative;
  padding-bottom: 58.59%;
  z-index: 0;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-inner .carousel-item .pdf-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 77px;
  height: 78px;
}

.carousel-control-next-icon {
  background-image: url("./../images/arrow-lb.png");
}

.carousel-control-prev-icon {
  background-image: url("./../images/arrow-lb.png");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=layout.css.map */