@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap");

$color-primary: #5263ff;
$color-black: #000000;
$color-contrast: #ff6000;

$text-color-black: $color-black;
$text-color-primary: $color-primary;
$text-color-secondary: #919191;
$text-color-content: #666666;
$text-color-date: #8a8a8a;

//Base size of fonts is 16px.
$font-xxxl: 5.625rem; //90px
$font-xxl: 3.75rem; //60px
$font-xl: 2.8125rem; //45px
$font-lg: 2.25rem; //36px
$font-md: 1.3125rem; //20px
$font-sm: 1.125rem; //18px
$font-normal: 1rem; //16px

/* font */
$font-family: "Noto Sans TC", "PingFangTC-Regular", "sans-serif", "微軟正黑體",
  "Microsoft JhengHei";
$text-bold: 700;

/* radius */
$radius: 10px;

/* image url */
$path: "./../images/";
/* ------- media query ------- */

$width-xs: 360px;
$width-sm: 576px;
$width-md: 768px; //平板
$width-lg: 992px;
$width-xl: 1200px; //pc
$width-xxl: 1400px;
$width-xxxl: 1500px;
