@import "_variable";
//===== 以上共用 =====
// 畫面左右切割約 ５：５ 的頁面
//================== apply-single ===============
.tag {
  position: absolute;
  left: 0;
  top: -36px;
  z-index: 0;
  padding: 4px 12px 7px;
  background-color: $color-contrast;
  text-align: center;
  color: #fff;
  font-size: 1.5rem; //24px
  font-weight: bold;
  @media (min-width: 1200px) {
    top: -50px;
    padding: 5px 12px 8px;
    font-size: $font-lg;
  }
}
.apply {
  &-wrap {
    position: relative;
    z-index: 0;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
  }
  &-content {
    width: 100%;
    p {
      font-size: $font-normal; //16px
      line-height: 1.71;
      text-align: justify;
      color: $text-color-black;
      font-weight: 300;
      word-wrap: break-word;
      & + p {
        margin-top: 20px;
      }
    }

    section {
      padding: 20px 0;
      display: flex;
      justify-content: start;
      align-items: start;
      flex-wrap: wrap;
      &:first-of-type {
        padding-top: 0;
      }
      border-bottom: 1px solid #bababa;
    }
    &.second-content {
      padding-bottom: 45px;
    }
    .text-subtitle {
      font-size: 1.5rem; //24px
      font-weight: normal;
      line-height: normal;
      color: #757575;
      margin-bottom: 28px;
    }
  }
  &-pic {
    max-width: 100%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    &.pic-top {
      margin-top: 50px;
    }
    figure {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  &-name {
    margin-bottom: 10px;
    h2 {
      font-size: 1.875rem; //30px
      font-weight: bold;
      line-height: normal;
      color: $text-color-primary;
      // line-height: 1;
    }
    h3 {
      font-size: $font-sm; //18px
      font-weight: bold;
      line-height: normal;
      color: $text-color-primary;
    }
    h4 {
      font-size: $font-sm; //18px
      font-weight: bold;
      line-height: normal;
      margin: 10px 0 5px;
      color: $text-color-date;
    }
  }
  @media (min-width: 768px) {
    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-wrap: wrap;
    }
    &-content {
      max-width: 100%;
    }
    &-pic {
      margin-top: 50px;
      margin-bottom: 25px;
    }
    &-name {
      margin-bottom: 40px;
      h2 {
        font-size: $font-lg; //36px
      }
      h3 {
        font-size: 1.5rem; //24px
      }
      h4 {
        font-size: $font-sm; //18px
      }
    }
  }
  @media (max-height: 420px) {
    &-content {
      max-width: 100%;
    }
    &-pic {
      margin-top: 50px;
      margin-bottom: 25px;
    }
    &-name {
      margin-bottom: 30px;
      h2 {
        font-size: 1.875rem; //30px
      }
      h3 {
        font-size: $font-sm; //18px
      }
      h4 {
        font-size: $font-sm; //18px
      }
    }
  }
  @media (min-width: 992px) {
    &-content {
      max-width: calc(50% - 25px);
    }
    &-pic {
      margin-top: 50px;
      margin-bottom: 45px;
      &.pic-top {
        margin-top: 100px;
      }
    }
    &-name {
      margin-bottom: 30px;
      h2 {
        font-size: $font-lg; //36px
      }
      h3 {
        font-size: 1.5rem; //24px
      }
      h4 {
        font-size: 1.5rem; //24px
      }
    }
  }
  @media (min-width: 1200px) {
    &-content {
      .text-subtitle {
        font-size: 1.625rem; //24px
        margin-bottom: 25px;
      }
    }
  }
  @media (min-width: 1400px) {
    &-content {
      max-width: calc(50% - 50px);
      p {
        font-size: $font-md;
      }
    }
    &-name {
      // margin-top: 30px;
      h2 {
        font-size: 3.938rem; //63px
      }
      h3 {
        font-size: 2.688rem; //43px
      }
      h4 {
        font-size: 1.5rem; //24px
      }
    }
  }
}

.content {
  &-title {
    max-width: 100%;
    width: 100%;
    font-size: $font-md;
    font-weight: 500;
    line-height: 1.71;
    color: $text-color-black;
  }
  &-detail {
    max-width: 100%;
    width: 100%;
    font-size: $font-sm;
    line-height: 1.71;
    text-align: justify;
    color: $text-color-black;
    font-weight: 300;
  }

  @media (min-width: 768px) {
    &-title {
      max-width: 30%;
    }
    &-detail {
      max-width: 70%;
    }
  }
  //手機版 橫式
  @media (max-height: 420px) {
    &-title {
      max-width: 100%;
    }
    &-detail {
      max-width: 100%;
    }
  }
  @media (min-width: 992px) {
    &-title {
      max-width: 30%;
      font-size: $font-md;
    }
    &-detail {
      max-width: 70%;
      font-size: $font-sm;
    }
  }
}
//================== index 02-3 ===============
.index-links {
  padding-top: 8px;
  padding-bottom: 75px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  .link-content {
    margin-right: 10px;
    margin-top: 10px;
  }
  .btn-link {
    display: inline-block;
    border: solid 2px $color-primary;
    background-color: $color-primary;
    color: #ffffff;
    padding: 12px 16px;
    font-size: $font-normal;
    transition: all 0.5s;
    text-decoration: none;
    &:active {
      background-color: #ffffff;
      color: $text-color-primary;
      text-decoration: none;
    }
  }
  .sub-link {
    padding-top: 10px;
    padding-left: 18px;
    a {
      display: block;
      font-size: $font-normal;
      font-weight: 300;
      line-height: 1;
      color: #010101;
      padding: 6px 0;
      transition: all 0.5s;
    }
  }
  @media (min-width: 1200px) {
    padding-bottom: 45px;
    .btn-link {
      color: #ffffff;
      padding: 12px 25px;
      font-size: $font-md;
      &:hover {
        background-color: #ffffff;
        color: $text-color-primary;
        text-decoration: none;
      }
    }
    .sub-link {
      padding-top: 10px;
      padding-left: 25px;
      a {
        font-size: $font-md;
        padding: 6px 0;
        &:hover {
          color: $text-color-primary;
        }
      }
    }
  }
}
.links-row {
  padding: 25px 0;
  border-bottom: 1px solid #bababa;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  font-weight: 500;
  &.row-start {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  }
  &.links-group {
    flex-wrap: wrap;
    .ex-link {
      margin: 6px 0;
      span {
        color: $text-color-black;
        // text-decoration: underline;
        line-height: normal;
        // border-bottom: 1px solid $color-primary;
        transition: all 0.5s;
      }
      &.dis-no {
        display: none;
      }
    }
  }
  p {
    font-size: $font-normal;
    font-weight: 300;
    line-height: normal;
    color: $text-color-black;
  }
  .link-title {
    max-width: 45%;
    width: 100%;
    font-size: $font-sm; //18px
    font-weight: 500;
    // line-height: 1.54;
    line-height: normal;
    color: #8a8a8a;
    &.link-sub-title {
      font-size: $font-normal; //16px
      color: $text-color-black;
    }
    &.full-title {
      max-width: 100%;
    }
  }
  .link-description {
    max-width: 55%;
    width: 100%;
    font-size: $font-normal;
    font-weight: 300;
    // line-height: 1.54;
    line-height: normal;
    color: $text-color-black;
  }
  .large-text {
    font-size: $font-normal;
  }
  .ex-link {
    display: block;
    font-size: 0;
    span {
      display: inline;
      color: $text-color-primary;
      vertical-align: middle;
      font-size: $font-normal;
      line-height: 24px;
      text-decoration: underline;
      img {
        display: inline;
        width: 18px;
        margin-left: 6px;
        margin-top: 6px;
      }
    }
  }
  .more {
    font-size: $font-normal;
  }
  @media (min-width: 768px) {
    p {
      font-size: $font-sm;
    }
    .link-title {
      max-width: 35%;
      font-size: 1.5rem; //24px
      &.link-sub-title {
        font-size: $font-sm;
      }
    }
    .link-description {
      max-width: 65%;
      font-size: $font-sm;
    }
    .large-text {
      font-size: $font-sm;
    }
    .ex-link {
      span {
        font-size: $font-sm;
        // line-height: 1.54;
        line-height: normal;
        font-weight: 500;
      }
    }
    .more {
      font-size: $font-sm;
    }
  }
  @media (min-width: 992px) {
    &.row-start {
      padding: 0 0 24px;
    }
  }
  @media (min-width: 1200px) {
    &.links-group {
      .ex-link {
        span {
          color: $text-color-black;
          // text-decoration: underline;
          line-height: normal;
          // border-bottom: 1px solid $color-primary;
          transition: all 0.5s;
        }
        &:hover {
          span {
            color: $text-color-primary;
          }
        }
      }
    }
    p {
      font-size: $font-md; //20px
    }
    .link-title {
      // max-width: 35%;
      font-size: 1.625rem; //26px
      &.link-sub-title {
        font-size: $font-md; //20px
      }
    }
    .link-description {
      // max-width: 65%;
      font-size: $font-md; //20px
    }
    .large-text {
      font-size: $font-md; //20px
    }
    .ex-link {
      span {
        display: inline-block;
        font-size: $font-md; //20px
        // line-height: 1.54;
        line-height: normal;
      }
    }
    .more {
      font-size: $font-md;
    }
  }
}
.des-sub-lists {
  .sub-lists-row {
    border-bottom: 1px solid #bababa;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
    font-weight: 500;
    padding: 0 0 25px 0;
    & + .sub-lists-row {
      padding: 25px 0 0 0;
      border-bottom: none;
    }
  }
  .sub-lists-title {
    max-width: 90px;
    width: 100%;
    font-size: $font-sm; //18px
    font-weight: 500;
    line-height: normal;
    color: #8a8a8a;
    &.link-sub-title {
      font-size: $font-normal; //16px
      color: $text-color-black;
    }
  }
  .sub-lists-description {
    max-width: calc(100% - 90px);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    span {
      display: inline-block;
      font-size: $font-normal;
      font-weight: 300;
      line-height: normal;
      color: $text-color-black;
    }
  }
  .icon-book {
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 37px;
    background-image: url("../images/icon-book@2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
    &:hover {
      background-image: url("../images/icon-book-hover@2x.png");
    }
  }
  @media (min-width: 768px) {
    .sub-lists-title {
      font-size: 1.5rem; //24px
      &.link-sub-title {
        font-size: $font-sm;
      }
    }
    .sub-lists-description {
      span {
        font-size: $font-sm;
      }
    }
  }

  @media (min-width: 1200px) {
    .sub-lists-title {
      font-size: 1.625rem; //26px
      &.link-sub-title {
        font-size: $font-md; //20px
      }
    }
    .sub-lists-description {
      span {
        font-size: $font-md; //20px
      }
    }
  }
}
