@import "_variable";
//===== 以上共用 =====
.header-intro {
  position: relative;
  background: #ffffff url("../images/kv-intro-banner@2x.png") left bottom
    no-repeat;
  background-size: 91.5% auto;
  height: 100vh;
  //   height: calc(100vh - 164px);
  //   padding-bottom: 49.4%;
  .header-top {
    top: 41px;
  }
  .header-title {
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translate(-50%, 0%);
    width: 100%;
    text-align: center;
    .logo {
      max-width: 270px;
      width: 100%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }

  @media (min-width: 768px) {
    .header-top {
      top: 50px;
    }
    .header-title {
      top: 250px;
      .logo {
        max-width: 450px;
      }
    }
  }
  @media (max-height: 420px) {
    height: 540px;
    .header-top {
      top: 41px;
    }
    .header-title {
      top: 120px;
      .logo {
        max-width: 330px;
      }
    }
  }
  @media (min-width: 992px) {
    .header-top {
      top: 50px;
    }
    .header-title {
      top: 180px;
      .logo {
        max-width: 400px;
      }
    }
  }
  @media (min-width: 1200px) {
    height: 100vh;
    .header-top {
      top: 30px;
    }
    .header-title {
      top: 25.9vh;
      .logo {
        max-width: 488px;
      }
    }
  }
}
.lang-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding-top: 56px;
  a {
    padding: 0 50px;
    color: $text-color-black;
    font-size: $font-sm;
    & + a {
      border-left: 1px solid #000;
    }
  }
  @media (min-width: 1200px) {
    a {
      &:hover {
        color: $text-color-primary;
      }
    }
  }
}
