@import "_reset";
@import "_variable";
@import "accessibility";
html {
  // 專門處理IOS旋轉問題
  -webkit-text-size-adjust: 100%;
  *,
  *:before,
  *:after {
    font-size: 16px;
    font-family: $font-family;
  }
}
html,
body {
  &.active {
    overflow: hidden;
  }
}
body {
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

//共用class name
.font-bold {
  font-weight: bold;
}
.mt-20 {
  margin-top: 20px;
}
.full-content {
  max-width: 100%;
  width: 100%;
}
.borderTop {
  border-top: 1px solid #000;
}

.ellipsis {
  p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
//===== 以上共用 =====

.header {
  position: relative;
  background: #ffffff url("../images/kv-inner-banner-m@2x.png") right bottom
    no-repeat;
  padding-bottom: 282px;
  background-size: 100% 100%;

  @media (min-width: 768px) {
    background: #ffffff url("../images/kv-inner-banner-pad@2x.png") right top
      no-repeat;
    padding-bottom: 262px;
    // padding-bottom: 28.18%;
    background-size: 100% 100%;
  }
  @media (max-height: 420px) {
    background: #ffffff url("../images/kv-inner-banner-m-l@2x.png") center top
      no-repeat;
    padding-bottom: 216px;
    background-size: 100% 100%;
  }
  @media (min-width: 992px) {
    background: #ffffff url("../images/kv-inner-banner-pad-p@2x.png") right top
      no-repeat;
    padding-bottom: 352px;
    background-size: 100% 100%;
  }
  @media (min-width: 1200px) {
    // padding-bottom: 28.18%;
    padding-bottom: 522px;
    background-size: 100% 100%;
  }
}
.header-top {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  @media (min-width: 768px) {
    top: 50px;
  }
  @media (max-height: 420px) {
    top: 41px;
  }
  @media (min-width: 992px) {
    top: 40px;
  }
  @media (min-width: 1200px) {
    top: 80px;
  }
}
.logo-box {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  .logo {
    max-width: 27px;
    width: 100%;
    display: inline-block;

    img {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .logo {
      max-width: 28px;
    }
  }
  @media (min-width: 992px) {
    .logo {
      max-width: 32px;
    }
  }
  @media (min-width: 1200px) {
    .logo {
      max-width: 52px;
      margin-left: 10px;
    }
  }
}
.search-guide {
  position: absolute;
  right: 75px;
  top: -10px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  @media (min-width: 768px) {
    // top: -10px;
  }
  @media (max-height: 420px) {
    // top: -17px;
  }
  @media (min-width: 992px) {
    position: static;
  }
  @media (min-width: 1200px) {
    padding-right: 80px;
  }
}
.search-box {
  position: relative;
  z-index: 0;
  width: 40px;
  height: 40px;
  border: solid 1px $color-black;
  border-radius: 50px;
  transition: all 0.8s;
  transform-origin: right;
  margin-right: 0px;
  cursor: pointer;
  input {
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    display: none;
    outline: none;
  }
  .search-icon {
    position: absolute;
    z-index: 0;
    top: 9px;
    right: 9px;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  &.onFocus {
    width: 200px;
    border-radius: 25px;
    input {
      padding: 0 44px 0 20px;
      border-radius: 25px;
      display: block;
    }
  }

  @media (min-width: 992px) {
    margin-right: 25px;
    input {
      border-radius: 50px;
    }
  }
  @media (min-width: 1200px) {
    width: 50px;
    height: 50px;
    .search-icon {
      top: 12px;
      right: 12px;
      width: 25px;
      height: 25px;
    }
    &.onFocus {
      width: 250px;
    }
    &:hover,
    &:valid {
      width: 250px;
      border-radius: 25px;
      input {
        padding: 0 44px 0 20px;
        border-radius: 25px;
        display: block;
      }
    }
  }
}
.btn-guide {
  display: none;
  border: solid 1px $color-black;
  border-radius: 25px;
  width: 126px;
  padding: 10px 6px;
  text-align: center;
  color: $text-color-black;
  font-size: $font-sm;
  transition: all 0.5s;
  &:active,
  &.on {
    background-color: $color-black;
    color: #ffffff;
  }
  @media (min-width: 992px) {
    display: block;
    border-radius: 25px;
    width: 126px;
  }
  @media (min-width: 1200px) {
    padding: 14px 6px;
    &:hover {
      background-color: $color-black;
      color: #ffffff;
    }
  }
}
.meun-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
  display: inline-block;
  margin-left: 20px;
  max-width: 25px;
  width: 100%;
  span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-black;
    margin: 9px 0;
    transition: all 0.5s;
  }
  @media (min-width: 768px) {
    top: 40px;
  }
  @media (max-height: 420px) {
    top: 32px;
  }
  @media (min-width: 992px) {
    display: none;
  }
}
.header-title {
  position: absolute;
  // top: 208px;
  top: 215px;
  // left: 30px;
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 30px;
  .logo {
    max-width: 257px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    top: 190px;
    // left: 55px;
    .logo {
      max-width: 278px;
    }
  }
  @media (max-height: 420px) {
    // left: 55px;
    top: 150px;
    .logo {
      max-width: 257px;
    }
  }
  @media (min-width: 992px) {
    top: 160px;
    // top: 380px;
    .logo {
      max-width: 265px;
    }
  }
  @media (min-width: 1200px) {
    top: 300px;
    // top: 40%;
    .logo {
      max-width: 497px;
    }
  }
}
.place-name {
  padding: 5px;
  font-size: $font-sm;
  color: $text-color-black;
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  border: solid 1px $color-black;
  margin-right: 7px;
  @media (min-width: 992px) {
    padding: 7px;
    font-size: 1.625rem; //26px
    margin-right: 9px;
  }
  @media (min-width: 1200px) {
    padding: 12px;
    font-size: $font-xl;
    margin-right: 16px;
  }
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  max-width: 160px;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  transform: translateX(100%);
  transition: all 0.5s;
  @media (min-width: 992px) {
    position: absolute;
    top: unset;
    bottom: 0px;
    right: 0;
    z-index: 0;
    max-width: 100%;
    height: auto;
    transform: translateX(0%);
    background: transparent;
  }
  @media (min-width: 1200px) {
    // bottom: 60px;
    bottom: 0;
  }
}
.meun-list {
  width: 100%;
  height: calc(100vh - 110px);
  overflow-y: auto;
  padding: 0px 10px 10px;
  margin-top: 110px;
  li {
    width: 100%;
    text-align: center;
    a {
      display: inline-block;
      font-size: $font-sm;
      font-weight: 500;
      letter-spacing: 0.18px;
      color: $text-color-black;
      padding: 12px;
      line-height: normal;
      transition: all 0.5s;
      border-bottom: 1px solid #828282;
    }

    &:nth-of-type(2) {
      margin-top: 30px;
      a {
        border-top: 1px solid #828282;
      }
    }

    &.on {
      a {
        color: $text-color-primary;
      }
      .btn-guide {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }
  .btn-guide {
    display: inline-block;
    font-size: 1rem;
    padding: 2px 12px;
  }
  @media (min-width: 992px) {
    height: auto;
    overflow-y: unset;
    padding: 0 30px;
    margin-top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: nowrap;
    li {
      width: auto;
      a {
        font-size: 1.5rem; //24px
        padding: 0 24px;
        border-right: 1px solid #828282;
        border-bottom: none;
      }
      &:nth-of-type(2) {
        margin-top: 0px;
        a {
          border-left: 1px solid #828282;
          border-top: none;
        }
      }
    }
    .btn-guide {
      display: none;
    }
  }
  @media (min-width: 1200px) {
    padding: 0px 110px 0 30px;
    li {
      a {
        font-size: $font-lg;
        padding: 0 44px;
      }
      &:hover {
        a {
          color: $text-color-primary;
        }
      }
    }
  }
}
.active {
  .meun-btn {
    position: fixed;
    span {
      &:first-of-type {
        transform: rotate(45deg) translate(6px, 8px);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:last-of-type {
        transform: rotate(-45deg) translate(6px, -8px);
      }
    }
  }
  nav {
    transform: translateX(0%);
  }
}
//======================= footer
footer {
  position: relative;
  z-index: 0;
  padding: 30px;
  border-top: 1px solid #828282;
  &.footer-intro {
    border-top: none;
  }

  @media (min-width: 992px) {
    &.footer-intro {
      .footer-content {
        padding: 0 20px;
      }
    }
  }
  @media (min-width: 1200px) {
    padding: 30px 30px 45px;
    &.footer-intro {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      .footer-content {
        padding: 0 20px;
      }
    }
  }
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  @media (min-width: 1200px) {
    padding: 0 80px;
  }
}
.footer-text {
  font-size: $font-normal;
  color: #808080;
  a {
    display: block;
    color: inherit;
    transition: all 0.5s;
  }
  @media (min-width: 1200px) {
    a {
      &:hover {
        color: $text-color-primary;
      }
    }
  }
}
.footer-logo-group {
  padding-top: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  figure {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .tpi-logo {
    max-width: 45px;
    margin-right: 25px;
  }
  .aa-logo {
    max-width: 84px;
  }
  @media (min-width: 576px) {
    padding-top: 0;
  }
}

//======================= main-content
.main-content {
  position: relative;
  z-index: 0;
  padding: 95px 30px 30px;

  width: 100%;
  margin: 0 auto;
  &.main-idx {
    padding-bottom: 50px;
  }
  @media (min-width: 768px) {
    padding-top: 100px;
    &.main-idx {
      padding-bottom: 0px;
    }
  }
  @media (max-height: 420px) {
    padding-top: 70px;
  }
  @media (min-width: 992px) {
    padding-top: 80px;
  }
  @media (min-width: 1200px) {
    padding-top: 100px;
  }
}

//======================= more
.more {
  display: block;
  font-size: $font-normal;
  line-height: 1.71;
  font-weight: 300;
  color: $text-color-primary;
  border: none;
  background: transparent;
  padding-left: 0;
  transition: all 0.5s;
  @media (min-width: 1200px) {
    font-size: $font-md;
  }
}
//======================= pages-navgatio ===============
.pages-navgation {
  margin-top: 50px;
  margin-bottom: 45px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  .arrow {
    display: inline-block;
    padding: 11px 9px;
    img {
      width: 26px;
    }
    &-prev {
      transform: rotate(180deg);
    }
  }
  ul {
    padding: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    li {
      position: relative;
      margin: 0 3px;
      &.active {
        a {
          color: #ffffff;
          &::before {
            content: "";
          }
        }
      }
      a {
        color: $text-color-black;
        width: 40px;
        text-align: center;
        padding: 15px 0;
        display: inline-block;
        font-size: $font-md;
        &::before {
          content: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: $color-primary;
          z-index: -1;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    ul {
      padding: 0 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      li {
        margin: 0 5px;
        a {
          width: 50px;
          padding: 15px 0;
          font-size: $font-md;
          &::before {
            width: 50px;
            height: 50px;
          }
        }
        &:hover {
          a {
            color: #ffffff;
            &::before {
              content: "";
            }
          }
        }
        a {
          font-size: $font-md;
        }
      }
    }
  }
}

//================== double-lists ===============
.double-lists {
  list-style: none;
  margin-top: 40px;
  li {
    display: inline-block;
    padding: 5px 0;
    &.active {
      > a {
        background-color: #ffffff;
        span {
          color: $text-color-primary;
        }
        .list-arrow {
          figure {
            background: url("./../images/arrow-dropdown-hover.png") center
              no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.open {
      > ul {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
      > .third-lists {
        position: static;
      }
    }
    a {
      display: inline-block;
      padding: 7px 15px 15px;
      border: solid 2px $color-primary;
      background-color: $color-primary;
      transition: all 0.5s;
      span {
        display: inline-block;
        vertical-align: middle;
        font-size: $font-sm;
        line-height: 1;
        text-align: left;
        color: #ffffff;
        transition: all 0.5s;
      }
      &:active {
        background-color: #ffffff;
        span {
          color: $text-color-primary;
        }
        .list-arrow {
          figure {
            background: url("./../images/arrow-dropdown-hover.png") center
              no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  .list-name {
    // margin-right: 10px;
  }
  .list-arrow {
    width: 15px;
    margin-left: 10px;
    margin-top: 3px;
    figure {
      width: 100%;
      height: 9px;
      background: url("./../images/arrow-dropdown.png") center no-repeat;
      background-size: contain;
    }
  }
  .sub-lists {
    position: absolute;
    padding: 5px 0;
    // padding-left: 30px;
    z-index: -1;
    transform: translateY(-5%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    li {
      display: block;

      &.active {
        > a {
          background-color: $color-primary;
          span {
            color: #ffffff;
          }
          .list-arrow {
            figure {
              background: url("./../images/arrow-dropdown-hover.png") center
                no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
    a {
      display: inline-block;
      padding: 7px 15px 15px;
      border: solid 2px $color-primary;
      background-color: #ffffff;
      transition: all 0.5s;
      span {
        display: inline-block;
        vertical-align: middle;
        font-size: $font-sm;
        line-height: 1;
        text-align: left;
        color: $text-color-primary;
        transition: all 0.5s;
      }
      &:active {
        background-color: $color-primary;
        span {
          color: #ffffff;
        }
        .list-arrow {
          figure {
            background: url("./../images/arrow-dropdown.png") center no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    li {
      // display: block;
      a {
        padding: 7px 24px 15px;
        background-color: $color-primary;
        span {
          font-size: $font-sm;
          color: #fff;
        }
      }
      &.active {
        > a {
          background-color: #ffffff;
          span {
            color: $text-color-primary;
          }
          .list-arrow {
            figure {
              background: url("./../images/arrow-dropdown-hover.png") center
                no-repeat;
              background-size: contain;
            }
          }
        }
      }
      &.open {
        > ul {
          // position: static;
          z-index: 1;
        }
      }
    }
    > li {
      &:hover {
        > a {
          background-color: #ffffff;
          span {
            color: $text-color-primary;
          }
          .list-arrow {
            figure {
              background: url("./../images/arrow-dropdown-hover.png") center
                no-repeat;
              background-size: contain;
            }
          }
        }
        // > ul {
        //   position: static;
        //   transform: translateY(0);
        //   opacity: 1;
        //   visibility: visible;
        // }
      }
    }
    .list-arrow {
      figure {
        background: url("./../images/arrow-dropdown.png") center no-repeat;
        background-size: contain;
      }
    }
    .sub-lists {
      li {
        &:hover {
          > a {
            background-color: $color-primary;
            span {
              color: #ffffff;
            }
            .list-arrow {
              figure {
                background: url("./../images/arrow-dropdown-hover.png") center
                  no-repeat;
                background-size: contain;
              }
            }
          }
          // > ul {
          //   position: static;
          //   transform: translateY(0);
          //   opacity: 1;
          //   visibility: visible;
          // }
        }
        a {
          background-color: #ffffff;
          span {
            font-size: $font-sm;
            color: $color-primary;
          }
        }
      }
    }
  }
}
//================== triple-lists ===============
.triple-lists {
  list-style: none;
  margin-top: 40px;
  li {
    display: inline-block;
    padding: 5px 0;
    &.active {
      > a {
        background-color: #ffffff;
        span {
          color: $text-color-primary;
        }
        .list-arrow {
          figure {
            background: url("./../images/arrow-dropdown-hover.png") center
              no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.open {
      > ul {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        z-index: 1;
      }
      > .third-lists {
        position: static;
      }
    }
    a {
      display: inline-block;
      padding: 7px 15px 15px;
      border: solid 2px $color-primary;
      background-color: $color-primary;
      transition: all 0.5s;
      font-weight: 300;
      span {
        display: inline-block;
        vertical-align: middle;
        font-size: $font-sm;
        line-height: 1;
        text-align: left;
        color: #ffffff;
        transition: all 0.5s;
      }
      &:active {
        background-color: #ffffff;
        span {
          color: $text-color-primary;
        }
        .list-arrow {
          figure {
            background: url("./../images/arrow-dropdown-hover.png") center
              no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  .list-name {
    margin-right: 10px;
  }
  .list-count {
    color: $text-color-black;
  }
  .list-arrow {
    width: 15px;
    margin-left: 10px;
    margin-top: 3px;
    figure {
      width: 100%;
      height: 9px;
      background: url("./../images/arrow-dropdown.png") center no-repeat;
      background-size: contain;
    }
  }
  .sub-lists {
    position: absolute;
    padding-left: 30px;
    z-index: -1;
    transform: translateY(-5%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    li {
      display: block;
      a {
        padding: 7px 15px 15px;
        background-color: #ffffff;
        span {
          color: $text-color-primary;
        }
        &:active {
          background-color: $color-primary;
          span {
            color: #ffffff;
          }
          .list-arrow {
            figure {
              background: url("./../images/arrow-dropdown.png") center no-repeat;
              background-size: contain;
            }
          }
        }
      }
      .list-arrow {
        figure {
          background: url("./../images/arrow-dropdown-hover.png") center
            no-repeat;
          background-size: contain;
        }
      }
      &.active {
        > a {
          background-color: $color-primary;
          span {
            color: #ffffff;
          }
          .list-arrow {
            figure {
              background: url("./../images/arrow-dropdown.png") center no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
  .third-lists {
    position: absolute;
    padding-left: 30px;
    z-index: -1;
    transform: translateY(-5%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    li {
      display: block;
      a {
        padding: 7px 10px 15px;
        background-color: #ffffff;
        span {
          color: $text-color-primary;
        }
        &:active {
          background-color: $color-primary;
          span {
            color: #ffffff;
          }
          .list-arrow {
            figure {
              background: url("./../images/arrow-dropdown.png") center no-repeat;
              background-size: contain;
            }
          }
        }
      }
      .list-arrow {
        figure {
          background: url("./../images/arrow-dropdown-hover.png") center
            no-repeat;
        }
      }
      &.active {
        > a {
          background-color: $color-primary;
          span {
            color: #ffffff;
          }
          .list-arrow {
            figure {
              background: url("./../images/arrow-dropdown.png") center no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    li {
      display: block;
      a {
        padding: 7px 24px 15px;
        background-color: $color-primary;
        span {
          font-size: $font-sm;
          color: #fff;
        }
      }
      &.active {
        > a {
          background-color: #ffffff;
          span {
            color: $text-color-primary;
          }
          .list-arrow {
            figure {
              background: url("./../images/arrow-dropdown-hover.png") center
                no-repeat;
              background-size: contain;
            }
          }
        }
      }
      &.open {
        > ul {
          position: static;
          z-index: -1;
        }
      }
    }
    > li {
      &:hover {
        > a {
          background-color: #ffffff;
          span {
            color: $text-color-primary;
          }
          .list-arrow {
            figure {
              background: url("./../images/arrow-dropdown-hover.png") center
                no-repeat;
              background-size: contain;
            }
          }
        }
        // > ul {
        //   position: static;
        //   transform: translateY(0);
        //   opacity: 1;
        //   visibility: visible;
        // }
      }
    }
    .list-arrow {
      figure {
        background: url("./../images/arrow-dropdown.png") center no-repeat;
        background-size: contain;
      }
    }
    .sub-lists {
      li {
        &:hover {
          > a {
            background-color: $color-primary;
            span {
              color: #ffffff;
            }
            .list-arrow {
              figure {
                background: url("./../images/arrow-dropdown.png") center
                  no-repeat;
                background-size: contain;
              }
            }
          }

          // > ul {
          //   position: static;
          //   transform: translateY(0);
          //   opacity: 1;
          //   visibility: visible;
          // }
        }
        a {
          background-color: #ffffff;
          span {
            font-size: $font-sm;
            color: $color-primary;
          }
        }
        .list-arrow {
          figure {
            background: url("./../images/arrow-dropdown-hover.png") center
              no-repeat;
            background-size: contain;
          }
        }
      }
    }
    .third-lists {
      li {
        &:hover {
          > a {
            background-color: $color-primary;
            span {
              color: #ffffff;
            }
            .list-arrow {
              figure {
                background: url("./../images/arrow-dropdown-hover.png") center
                  no-repeat;
                background-size: contain;
              }
            }
          }
          // > ul {
          //   position: static;
          //   transform: translateY(0);
          //   opacity: 1;
          //   visibility: visible;
          // }
        }
        a {
          background-color: #ffffff;
          span {
            font-size: $font-sm;
            color: $color-primary;
          }
        }
        .list-arrow {
          figure {
            background: url("./../images/arrow-dropdown-hover.png") center
              no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  @media (min-width: 1200px) {
    li {
      a {
        span {
          font-size: $font-md;
        }
      }
    }
    .sub-lists {
      li {
        a {
          span {
            font-size: $font-md;
          }
        }
      }
    }
    .third-lists {
      li {
        a {
          span {
            font-size: $font-md;
          }
        }
      }
    }
  }
}
//================== search-data ===============
.search-data {
  position: absolute;
  top: -28px;
  left: 0;
  font-size: $font-normal;
  line-height: normal;
  color: #757575;
}
.hr {
  margin: 4px 0;
}
//================== pdf-button ===============
.pdf-button {
  max-width: 46px;
  width: 100%;
  display: block;
  margin-top: 50px;
  img {
    width: 100%;
  }
  @media (min-width: 992px) {
    margin-top: 100px;
  }
}

//================== lightbox ===============
.modal-backdrop {
  &.show {
    opacity: 0.75;
  }
}
.modal-xxl {
  max-width: 1500px;
}
.modal-content {
  background-color: transparent;
}
.modal-title {
  font-size: 2.25rem; //36px
  font-weight: 300;
  color: #ffffff;
}
.modal-header {
  border-bottom: none;
  .close {
    span {
      max-width: 70px;
      width: 100%;
      display: inline-block;
      img {
        width: 100%;
      }
    }
  }
}
.carousel-inner {
  .carousel-item {
    .inner-cover {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
    }
    .pdf-box {
      width: 100%;
      position: relative;
      padding-bottom: 58.59%;
      z-index: 0;
      overflow: hidden;
      margin: 0 auto;
      iframe,
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 77px;
  height: 78px;
}
.carousel-control-next-icon {
  background-image: url($path + "arrow-lb.png");
}
.carousel-control-prev-icon {
  background-image: url($path + "arrow-lb.png");
  transform: rotate(180deg);
}
